@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  padding: 0px;
  margin: 0px;
  font-family: "Righteous", cursive;
  overflow-x: hidden;
}
header {
  background-color: aqua;
  width: 100%;
  height: 5vw;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0.3vw 0.4vw 1vw rgb(0 0 0 / 70%);
}
header nav {
  position: relative;
  width: 100%;
  height: 3vw;
  margin: auto;
  top: 1vw;
  /* background-color: blanchedalmond; */
}
header nav a {
  font-weight: 700;
  font-size: 1.5vw;
  top: 0.5vw;
  position: relative;
  float: right;
  margin-right: 3vw;
  text-decoration: none;
}
header nav a:hover {
  color: red;
}
header nav a:first-of-type {
  float: left;
  margin-left: 7vw;
  font-size: 2vw;
}
header nav:last-child img {
  height: 2vw;
}
header nav:last-child div {
  display: inline-block;
  position: relative;
  right: 0.6vw;
  top: 0.6vw;
  /* height: auto; */
  text-align: center;
  width: 2vw;
  background: #97f2f2;
  border-radius: 100%;
  /* box-shadow: 0.3vw 0.4vw 1vw rgb(0 0 0 / 70%); */
}
.promo {
  background: black;
  height: 22vw;
  margin: 10vw 1vw 3vw 1vw;
  box-shadow: 0.3vw 0.7vw 1vw;
}
.promo img {
  width: 100%;
  height: 100%;
}
.promo .points {
  position: relative;
  display: flex;
  height: fit-content;
  top: -2vw;
  left: 48%;
}
.promo .point {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  height: 0.8vw;
  width: 0.8vw;
  margin: 0.3vw;
}
.promo .point:hover {
  cursor: pointer;
  background-color: white;
}
.promo .point:nth-child(2) {
  background-color: white;
}
.navigation {
  display: flex;
  align-items: center;
  margin: 0vw 2vw 0vw 2vw;
  width: fit-content;
  min-height: 4vw;
  background: #f1ecec;
  padding: 0vw 2vw 0vw 2vw;
  box-shadow: 0.3vw 0.4vw 1vw rgb(0 0 0 / 70%);
  border-radius: 2vw;
}
.navigation p{
  margin: 0vw 1vw 0vw 1vw;
}
.navigation a{
  text-decoration: none;
  transition: 1s;
}
.navigation a:hover{
  font-size: larger;
  font-weight: 800;
  cursor: pointer;
}
.navigation a:last-of-type{
  pointer-events: none;
}

h1:first-of-type {
  text-align: center;
  font-size: xxx-large;
}
article .restaurant {
  background: rgb(241 236 236);
  box-shadow: 0.3vw 0.4vw 1vw rgb(0 0 0 / 70%);
  margin: 2vw;
  border-radius: 1vw;
  align-items: center;
  display: flex;
  padding: 0.4vw;
  min-width: 35vw;
}
article .image {
  height: 14vw;
  width: 15vw;
}
article .image img {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}
article .verticle-line {
  height: 15vw;
  width: 0.2vw;
  margin-left: 0.3vw;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1vw;
}
article .info {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}
article .info h1 {
  margin: 0px;
  margin-left: 1vw;
  margin-bottom: 1vw;
  font-size: xx-large;
}
article .info p {
  margin: 1vw;
  margin-left: 2vw;
  font-size: large;
  display: flex;
  align-content: center;
}
article .info p img {
  margin-right: 1vw;
}
aside {
  position: absolute;
  top: 5vw;
  z-index: 1;
  height: fit-content;
  min-height: 15vw;
  background: white;
  width: 30vw;
  left: 68vw;
  display: none;
  flex-direction: column;
  box-shadow: 0.3vw 0.7vw 1vw;
  border-bottom-left-radius: 1vw;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
aside h1 {
  margin: auto;
  font-size: 2vw;
}
footer{
  background: #00FFFF;
  height: 5vw;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy {
  width: 15%;
  background: #00ffff;
  border: none;
  height: 3vw;
  font-size: 1.6vw;
  font-weight: 700;
  position: relative;
  left: 63vw;
  margin-bottom: 1vw;
  border-radius: 10vw;
  box-shadow: 0.3vw 0.4vw 1vw rgb(0 0 0 / 70%);
}
.buy:hover {
  color: red;
  cursor: pointer;
}
.restaurants {
  position: relative;
  left: -4vw;
}
.cart-food{
  display: flex;
    align-items: center;
}
.cart-food img{
  height: 5vw;
}
.cart-food h1{
  font-size: 1.5vw;
  font-weight: 300;
  margin: 0vw 2vw 0vw 1vw;
}
.cart-food .delete{
  margin-left: 1vw;
  border: none;
  border-radius: 100%;
  height: 2vw;
  width: 2vw;
  background: #00FFFF;
  cursor: pointer;
}
#no-items {
  position: sticky;
}
