@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  padding: 0px;
  margin: 0px;
  font-family: "Righteous", cursive;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.65vw;
  background-color: #f1ecec;
}
body::-webkit-scrollbar-thumb {
  background-color: #12d0d0;
}
.navigation {
  display: flex;
  align-items: center;
  margin: 0vw 2vw 0vw 2vw;
  width: fit-content;
  min-height: 4vw;
  background: #f1ecec;
  padding: 0vw 2vw 0vw 2vw;
  box-shadow: 0.3vw 0.4vw 1vw rgb(0 0 0 / 70%);
  border-radius: 2vw;
}
.navigation p {
  margin: 0vw 1vw 0vw 1vw;
}
.navigation a {
  text-decoration: none;
  transition: 1s;
}
.navigation a:hover {
  font-size: larger;
  font-weight: 800;
  cursor: pointer;
}
.navigation a:last-of-type {
  pointer-events: none;
}

h1:first-of-type {
  text-align: center;
  font-size: xxx-large;
}
h1:first-of-type span {
  font-size: larger;
  color: #b91105;
}
h1:first-of-type img {
  margin-left: 1vw;
}
.rating-stars {
  margin: auto;
  position: relative;
  width: fit-content;
  margin-bottom: 4vw;
  margin-top: 5vw;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article .restaurant {
  background: rgb(241 236 236);
  box-shadow: 0.3vw 0.4vw 1vw rgb(0 0 0 / 70%);
  margin: 2vw;
  border-radius: 1vw;
  align-items: center;
  display: flex;
  padding: 0.4vw;
  width: 58vw;
}
article .image {
  height: 14vw;
  width: 15vw;
}
article .image img {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}
article .verticle-line {
  height: 15vw;
  width: 0.2vw;
  margin-left: 0.3vw;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1vw;
}
article .info {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}
article .info h1 {
  margin: 0px;
  margin-left: 1vw;
  margin-bottom: 1vw;
  font-size: xx-large;
}
article .info p {
  margin: 1vw;
  margin-left: 2vw;
  font-size: large;
  display: flex;
  align-content: center;
}
article .info p img {
  margin-right: 1vw;
}

footer {
  background: #00ffff;
  height: 5vw;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101%;
}
.buy {
  width: 15%;
  background: #00ffff;
  border: none;
  height: 3vw;
  font-size: 1.6vw;
  font-weight: 700;
  position: relative;
  left: 38vw;
  margin-bottom: 1vw;
  border-radius: 10vw;
  box-shadow: 0.3vw 0.4vw 1vw rgb(0 0 0 / 70%);
}
.buy:hover {
  color: red;
  cursor: pointer;
}
.restaurants {
  position: relative;
  left: -4vw;
}
